@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
:root{
    --background-color: #202634;
    --button-color: #283044;
    --button-hover-color: #41495977;
    --button-pressed-color: #414959;
    --darker-button-color: #131925;
    --text-color: #FFFAFF;
    --navBar-color: #283044;
    --box-shadow-color: #1b1f24;
    --filter-val: 100%;
}
html{
    font-family: 'Arvo', serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    font-size: calc(0.5vw + 0.3vh);
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background: var(--darker-button-color)
}
body{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
}

/*top*/
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#switch{
    color: inherit;
    position: absolute;
    font-size: 4rem;
    right: 3vw;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*navBar*/
.navBar{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    gap: 4%;
    background-color: var(--navBar-color);
    box-shadow: 0 0px 1rem black;
    transition: ease-in-out 0.5s;
    transition-property: background-color;
}
.navBar h2{
    gap: 1vw;
    padding: 2vw;
    padding-bottom: 0;
    text-align: left;
    font-size: 3rem;
}
.navBarButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.navBarButtons a, .navBarButtons button{
    width: 17vw;
    height: 6vh;
    text-align: left;
    cursor: pointer;
    font-size: 1.7rem;
    transition: ease-in-out 0.5s;
    transition-property: background-color;
    background-color: var(--button-color);
    border: none;
    border-radius: 1rem;
    color: inherit;
    text-indent: 1vw;
}
.navBarButtons a{
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: inherit;
}
.navBarButtons button{
    padding: 0;
}
.navBarButtons a:hover, .navBarButtons button:hover{
    background-color: var(--button-hover-color);
}
.active{
    background-color: var(--button-pressed-color) !important;
}
.icon{
    width: 3rem;
    height: 3rem;
    filter: invert(var(--filter-val));
    transition: ease-in-out 0.5s;
}

/*order*/
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8%;
    padding: 1vh;
}
.button{
    border: none;
    background-color: var(--button-color);
    width: 15vw;
    height: 7vh;
    padding: 0;
    min-height: 2rem;
    cursor: pointer;
    font-size: 2.2rem;
    color: inherit;
    transition: ease-in-out 0.5s;
    transition-property: background-color;
}
.button:hover{
    background-color: var(--button-hover-color);
}
#firstButton{
    cursor: default;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: var(--darker-button-color);
}
#lastButton{
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/*news*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 20vw;
}
.container h1{
    font-size: 4rem;
    text-align: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 15vh;
}
.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
    transition-property: scale;
    z-index: 10;
    transform: translateY(100%);
    opacity: 0;
}
.lineBetween{
    width: 60%;
    height: 0.15vh;
    background-color: var(--button-color);
    border-radius: 100px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    transition: ease-in-out 0.5s;
}
.navBar .lineBetween{
    background-color: var(--button-hover-color);
    margin-top: .3vh;
    margin-bottom: .3vh;
    width: 65%;
}
.news a{
    display: block;
    font-size: 1.8rem;
    text-align: left;
    width: 30vw;
    margin-top: .5vh;
    margin-bottom: 0;
    font-weight: 900;
    color: inherit;
    text-decoration: inherit;
}
.news a:hover{
    text-decoration: underline;
}
.news img{
    margin: 1.5vw;
    width: 18rem;
    height: 11rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 7px var(--box-shadow-color);
    transition: ease-in-out 0.5s;
    transition-property: box-shadow;
}
.news:hover{
    scale: 1.15;
}
.newsInfo{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 10%;
}
.news .description {
    display: inline-block;
    width: 30vw;
    visibility: hidden;
    margin-bottom: 0;
    font-size: 1.2rem;
}
#newsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
}
.animate {
    animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
    0% {
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        transform: translateY(0%)
    }
}
.text-animation{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: typing 1s steps(30, end);
    visibility: visible !important;
}
@keyframes typing {
    0% {
        width: 0vw;
    }
    100% {
        width: 30vw;
    }
}
#barSwitch{
    display: none;
    cursor: pointer;
}
.newsInfoMobile{
    display: none;
}
.newsInfoDesktop {
    display: flex;
}
footer{
    padding: 1vh 0 1vh 0;
}
@media (orientation: portrait) {
    .navBarButtons{
        margin-top: 15vh;
    }
    .description{
        width: 40vw;
    }
    .news:hover .description{
        white-space: nowrap;
    }
    .description{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    html{
        font-size: calc(0.7vw + 0.5vh);
    }
    .top{
        position: fixed;
        top: 0vw;
        z-index: 110;
        height: 10rem;
        width: 100%;
    }
    .navBar{
        opacity: 0;
        z-index: 110;
        width: 100%;
    }
    .container{
        margin-left: 0;
    }
    #barSwitch{
        display: flex;
        position: absolute;
        left: 3vw;
        background-color: inherit;
        border: none;
    }
    .news a{
        width: 50vw;
        font-size: 1.5rem;
    }
    .news img{
        margin: 4vw;
        margin-bottom: 1vh;
    }
    .content{
        height: auto;
    }
    .navBarButtons a, .navBarButtons button{
        width: 60%;
        text-align: center;
        font-size: 2.5rem;
        text-indent: 1vw;
    }
    .navBarButtons a{
        justify-content: center;
        padding: 0;
    }
    .navBar h1{
        font-size: 2.5rem;
    }
    .navBar h2{
        display: none;
    }
    .lineBetween{
        width: 70%;
    }
    .button{
        width: 23vw;
    }
    .top .icon{
        height: 4rem;
        width: 4rem;
        transition: ease-in-out 0.5s;
    }
    .order{
        position: absolute;
        top: 16vh;
        font-size: 2rem;
        animation: appear 0.5s ease-in-out forwards;
    }
    .appear{
        animation: appear 0.5s ease-in-out forwards;
    }
    .disappear{
        animation: disappear 0.5s ease-in-out forwards;
    }
    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    #newsDiv{
        margin-top: 28vh;
    }
}
@media (max-width: 500px) {
    .newsInfoMobile{
        display: flex;
        height: auto;
        text-wrap: nowrap;
        font-size: larger;
    }
    .newsInfoDesktop {
        display: none;
    }
}
