@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
:root{
    --background-color: #202634;
    --button-color: #283044;
    --order-button-color: #283044;
    --button-hover-color: #414959;
    --order-button-hover-color: #414959;
    --darker-button-color: #232833;
    --text-color: #FFFAFF;
    --navBar-color: #283044;
    --box-shadow-color: #1b1f24;
}
html{
    font-family: 'Arvo', serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    font-size: calc(0.5vw + 0.3vh);
    background-color: var(--background-color);
    scroll-behavior: smooth;
    scrollbar-color: var(--background-color);
    scrollbar-width: 4vw;
    transition: ease-in-out 0.2s;
}
body{
    margin: 0;
    display: flex;
    flex-direction: row;
}

/*top*/
.top{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
}
#switch{
    color: inherit;
    position: absolute;
    font-size: 4rem;
    top: inherit;
    right: 3vw;
}

/*navBar*/
.navBar{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    gap: 6%;
    background-color: var(--navBar-color);
    box-shadow: 0 0px 1rem black;
}
.navBar h2{
    gap: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: ease-in-out 0.5s;
    padding: 2vw;
    text-align: left;
    font-size: 3rem;
}
.navBarButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.navBarButtons a, .navBarButtons button{
    width: 17vw;
    height: 6vh;
    text-indent: 1vw;
    text-align: left;
    cursor: pointer;
    font-size: 1.7rem;
    transition: ease-in-out 0.5s;
    background-color: var(--button-color);
    border: none;
    border-radius: 1rem;
    color: inherit;
}
.navBarButtons a{
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: inherit;
}
.navBarButtons button{
    padding: 0;
}
.navBarButtons a:hover, .navBarButtons button:hover{
    background-color: var(--button-hover-color);
}
.icon{
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(100%);
}

/*order*/
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8%;
    margin-bottom: 5vh;
}
.button{
    border: none;
    background-color: var(--order-button-color);
    width: 15vw;
    height: 7vh;
    padding: 0;
    min-height: 2rem;
    cursor: pointer;
    font-size: 2.2rem;
    transition: ease-in-out 0.5s;
    color: inherit;
}
.button:hover{
    background-color: var(--order-button-hover-color);
}
#firstButton{
    cursor: default;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: var(--darker-button-color);
}
#lastButton{
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/*news*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 20vw;
}
.container h1{
    font-size: 4rem;
    text-align: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 50vw;
    height: 17vh;
}
.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
}
.news a{
    display: block;
    font-size: 1.8rem;
    text-align: left;
    width: 30vw;
    margin-top: 1.5vw;
    margin-bottom: 0;
    font-weight: 900;
    color: inherit;
    text-decoration: inherit;
}
.news a:hover{
    text-decoration: underline;
}
.news img{
    margin: 1.5vw;
    width: 12vw;
    height: 14vh;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 7px var(--box-shadow-color);
}
.news:hover{
    scale: 1.15;
}
.newsInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%
}
.lineBetween{
    width: 50%;
    height: 0.155vh;
    background-color: var(--order-button-color);
    border-radius: 100px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48;
    border: none;
    background-color: inherit;
}
